body{
	font-size: 12px;
}
.navbar-brand{
  font-size: 14px;
}

.nav-item{
  font-size: 12px;
}

#collapsibleNavbar .nav-item{
	margin-right: 10px;
	margin-left: 10px;
}

#KegiatanCarousel img{
	width: 100%;
	height: 100%;
}

.container{
	padding-top: 30px;
	padding-bottom: 30px;
}

.isi-cont{
	padding: 10px;
}

.bg-1{
	background-color: #343A40;
	color: #fff;
}

.text-content{
	font-size: 12px;
}

#pengurus h2{
	margin-bottom: 30px;
}

#pengurus .col-sm-4{
	padding-left: 10px;
	padding-right: 10px;
}

#kontak .text-content{
	font-size: 14px;
}

#DaftarAnggota h2{
	margin-top: 30px;
	margin-bottom: 50px;
}

#DaftarAnggota .biodata{
	padding: 15px;
	overflow: hidden;
	border-bottom: 2px solid black;
}

#DaftarAnggota img{
	float: left;
	margin-right: 15px;
}
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

#text-carousel .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#text-carousel .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#text-carousel .carousel-indicators li {
    background-color: black;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
#text-carousel .carousel-indicators .active {
    background-color: #ffff99;
}